/*common css start*/
body {
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
    color: #626262
}
/*common css end*/
/*header start*/
header {
	padding: 30px 0;
}
.container {
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
}
.logo {
	margin-top: 7px;
	float: left;
	width: 13%;
}
.logo a {
	display: block;
}
.logo a img {
}
.menu {
	float: right;
	width: 65%;
}
.menu ul {
	float: right;	
	list-style: none;
}
.menu ul li {
	float: left;
}
.menu ul li a {
	display: inline-block;
	margin: 0 50px;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a {
	margin-right: 0;
}
.menu ul li a:hover {
	border-bottom: 1px solid #626262;
} 
/*header end*/
/*banner start*/
.b_img img {
	width: 100%;
}
/*banner end*/
/*perfect start*/
.perfect {
	padding: 100px 0 40px;
}
.container2 {
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
	border: 1 px solid;
}
.p_content {}
.c_light {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}
.c_title {
	margin: 25px 0 30px;
	font-size: 30px;
	font-weight: 400;
}
.c_p {
	margin: 0;
	line-height: 24px;
}
.c_link {
	margin-top: 40px;
	display: block;
	color: #626262;
	text-decoration: none;
}
/*perfect end*/
/*blog start*/
.blog {
	padding: 0 0 100px;
}
.sb_item {
	margin-top: 60px;
	float: left;
	box-sizing: border-box;
	width: 47%;
}
.sb_item:nth-child(even){
	margin-left: 6%;
}
.sb_img {
	margin-bottom: 25px;
}
.sb_img img {
	width: 100%;
}
/*blog end*/
/*newsletter start*/
.news{
	background-color: #f0f0f0;
	padding: 70px 0;
	margin-bottom: 130px;
}
.signup {
	text-align: center;
}
.s_h1 {
	color: #262626;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form {
	position: relative;
	width: 400px;
	margin: 0 auto;
}
.s_form input {
	font-family: "Playfair Display", serif;
	font-size: 14px;
	color: #626262;
	width: 345px;
	height: 40px;
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 45px;
}
.s_form input:focus {
	outline: 0;
}
.s_form button {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button:focus {
	outline: 0;
}
/*newsletter end*/
/*blog2 start*/
.load {
	text-align: center;
	padding: 180px 0 100px 0;
}
.load button {
	width: 165px;
	height: 60px;
	background-color: white;
	border: 1px solid #626262;
	font-family: "Playfair Display", serif;
	font-size: 20px;
	font-weight: 400;
    color: #626262;
    cursor: pointer;
    transition: .33s linear;
}
.load button:hover {
	background-color: #626262;
	color: white;
}
/*blog2 end*/
/*footer start*/
footer{
    background-color: #f0f0f0;
    min-height: 80px;
}
.pages {
	float: left;
	width: 30%;
}
.pages ul {
	float: left;	
	list-style: none;
}
.pages ul li {
	float: left;
}
.pages ul li a {
	display: inline-block;
	margin: 40px 10px;
	color: #000000;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.pages ul li:first-child a {
	margin-left: 0;
}
.pages ul li a:hover {
	border-bottom: 1px solid #000000;
} 
.social {
	display: flex;
	float: right;
	width: 20%;
}
.social ul {
    display: flex;
}
.social ul li {
	list-style: none;
}
.icon {
	margin: 40px 10px 0 0;
}
.social ul li span {
	color: #000000;
	font-weight: 500;
	text-decoration: none;
}
.social ul li a {
	display: inline-block;
	float: left;
	margin: 42px 10px;
	text-decoration: none;
	cursor: pointer;
}
.social ul li:last-child a {
	margin-right: 0;
}
.social ul li a img {
	display: inline;
	width: 100%;
}
/*footer end*/
